<h1>Citibike Information</h1>
<% if @citibikes.empty? %>
  <h3>No Citibike Information to Display!</h3>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Trips</th>
        <th>Miles</th>
      </tr>
    </thead>
    <tbody>
      <% @citibikes.each do |citibike| %>
        <tr>
          <td><%= citibike.date %></td>
          <td><%= citibike.trips %></td>
          <td><%= citibike.miles %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
